<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginSingup.css">
    <title><%=title%></title>
</head>
<body>
<div class="main_div">

    <div class="for_intro">
      <div id="facb_name">
        <h1 style="margin: 0;" >facebook</h1>
      </div>
      <div id="facb_discrip">
        <h1 style="margin: 0;" > Facebook helps you connect and share with the people in your life.</h1>
      </div>
    </div>
    <div class="for_login_form">
        <div id="form-login-div">
            <form action="" method="post">
              <div class="exampleInput" >
                  <input type="email" style="height: 100%; width:100%;"  placeholder="Email address or Phone number" >
                </div>
                  <br>
                <div class="exampleInput" >
                  <input type="password" style="height: 100%; width:100%;" placeholder="Password" >
                </div>
                  <br>
                <div class="exampleInput">
                <button type="submit" style="height: 100%; width:100%;"  id="idFor-log-btn">Log in</button>
              </div>

              <div style="font-size: 1rem;text-align: center;">
                <a href="#" style="height: 100%; width:100%;">
                  <p >
                    Forgotten password?
                  </p>
                </a>
              </div>
              </form>
              <div id="creat_butn-id">
                <a href="/user/singup" >
                        <button style="height:100%; width:100%; background-color:transparent; border-radius: 1rem;" >Create New Account</button>
                  </a>
                </div>
              
        </div>

    



    </div>

</div>
</body>
</html>