<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginSingup.css">
    <title><%=title%></title>
</head>
<body>
<div class="main_div">

    <div class="for_intro">
        <h1 id="facb_name">facebook</h1>
        <h1 id="facb_discrip"> Facebook helps you connect and share with the people in your life.</h1>

    </div>
    <div class="for_login_form">
        <div id="form-login-div">
            <form>
                  <input type="email" class="exampleInput"  placeholder="Email address or Phone number" >
                  <br>
                  <input type="password" class="exampleInput" placeholder="Password" >
                  <br>
                <button type="submit" class="exampleInput" id="idFor-log-btn">Log in</button>
              </form>
              <a href="#">
                <p style="    font-size: 1rem;
                text-align: center;
               
                margin-top: 20%;">
                  Forgotten password?
                </p>
              </a>
        <a href="/singup" >
                <button id="creat_butn-id" >Create New Account</button>
          </a>

        </div>

    



    </div>

</div>
</body>
</html>