<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title><%=title%></title>
</head>
<body>
    <div id="title_div-id" >
        <div>
            <div style="font-size: 2rem; margin: 2%;">Sign Up</div>
            <div style="font-size: larger; margin: 1%;">It's quick and easy.</div>
        </div>
        </div>
        
    <form>
        <div id="input_div-id">
            <form action="" method="post">
          <input type="text" style="height: 14%; width: 40%; margin-right: 8%;  border-radius: 0.5rem;"placeholder="First Name"  >
          <input type="text" style="height: 14%; width: 40%; margin-left: 8%; border-radius: 0.5rem;" placeholder="Last Name"  >
          <input type="text"  class="inpu_hight_width" placeholder="Mobile Number or Email Address" >
          <input type="password" class="inpu_hight_width" placeholder="New Password" >
         </form>

          <div>Date of birth</div>
         <div style="width: 100%;">
        <a href="/singup" >
            <button id="creat_butn-id" >Sing Up</button>
      </a>
    </div>
          
           <!-- <select id="inputState" >
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>

          </select> -->
         
         <!-- <button type="submit" >Sign in</button> -->
      </form>
    </div>

</body>
</html>